# Directories
games
auto-save-list
server
workspace
url
.cache
eglot-eclipse-jdt-cache
var
image-dired
eshell/lastdir
elpa/archives/gnu/archive-contents
elpa/archives/GNU/
elpa/archives/non-GNU/
elpa/archives/melpa/archive-contents
FsAutoComplete
/racket-mode/
/transient/
/eshell/lastdir

# Files in root directory
projects
session*
bookmarks
.dap-breakpoints
history
ido.last
.lsp-session-v1
.mc-lists.el
projectile-bookmarks.eld
projectile.cache
recentf
smex-items
Thumbs.db
savehist
saveplace
amx-items
custom.el
eww-bookmarks
srecode-map.el

# Ignore all .elc (byte-compiled emacs lisp) files
*.elc



